<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Log in</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
</head>

<body>
 <body>
        <div class="header">
            <header>
                <ul>
                    <li><a href="http://127.0.0.1:5000/">Homepage</a></li>
                    <li><a href="http://127.0.0.1:5000/logout">Log Out</a></li>
                    <li><a href="http://127.0.0.1:5000/settings.html"><i class="fas fa-edit"></i>Edit Your Profile</a></li>
                     <li><a href="http://127.0.0.1:5000/profile/{{session['user']}}"><i class="fas fa-user "></i>My Account</a></li>
                    <li><a href="http://127.0.0.1:5000/users.html"><i class="fas fa-users "></i>Users</a></li>
                </ul>
            </header>
        </div>
<body>

    <!-- Change password (& e-mail eventually) -->
    <div id="container">
        <div class="form-wrap">
            <h1>SP News</h1>
            <p>Change your password</p>
            <form action="http://127.0.0.1:5000/password_change" method="post">
                <div class="form-group">
                    <label for="currentPassword">Enter your current Password</label>
                    <input type="password" name="currentPassword" id="currentPassword" minlength="8" />
                </div>
                <div class="form-group">
                    <label for="password">New Password</label>
                    <input type="password" name="password" id="password" minlength="8" />

                    <div class="password_toggler_reg">
                        <i class="fa fa-eye-slash"></i>
                        <i class="fa fa-eye"></i>
                    </div>
                </div>

                <div class="confirm_password">
                    <p>
                        ERROR: PASSWORDS DO NOT MATCH
                    </p>
                </div>
                <div class="strong_password_tip">
                    <p>
                        Tip: For the strongest password strength, include numbers(0-9), capital letters(A-Z), and special characters(!,%, @)
                    </p>
                </div>

                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    <input type="password" name="password2" id="password2" />

                    <div class="password_toggler_2">
                        <i class="fa fa-eye-slash"></i>
                        <i class="fa fa-eye"></i>
                    </div>

                    <div class="password_strength">
                        <span>Strength: Neutral</span>
                        <span></span>
                    </div>
                </div>
                <button type="submit" class="btn">Change password</button>
                <div>
        <div>
          <p style="font-weight: bold;">{{ data }}</p>
        </div>


                </div>
            </form>
        </div>
    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>
