<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Sign Up</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />

    <body>
    <header class="hero">
        <div id="navbar" class="navbar top">
            <h1 class="logo">
                <span class="text-primary"><i class="fas fa-book-open"></i> SP</span> News
            </h1>

            <nav>
                <Ul>
                    <li><a href="http://127.0.0.1:5000/">Profile</a></li>
                </Ul>
            </nav>
            {% block content %}{% endblock %}
        </div>
    </header>

</head>
    <script src="../static/js/index.js"></script>
</body>

</html>