<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Log in</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet" />
</head>

<body>
    <header class="hero">
        <div id="navbar" class="navbar top">
            <h1 class="logo">
                <span class="text-primary"><i class="fas fa-book-open"></i> SP</span> News
            </h1>

            <nav>
                <Ul>
                    <li><a href="signup-form.html">Sign Up </a></li>
                    <li><a href="login-form.html">Login</a></li>
                </Ul>
            </nav>
        </div>
    </header>

    <!-- Log-in -->
    <div id="container">
        <div class="form-wrap">
            <h1>SP News</h1>
            <p>Log in to your SP News account</p>
            <form action="http://127.0.0.1:5000/login" method="post">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" name="username" id="username" />
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" name="password" id="password_sign_in" />

                    <div class="password_toggler">
                        <i class="fa fa-eye-slash"></i>
                        <i class="fa fa-eye"></i>
                    </div>
                </div>
                <button class="log in" type="submit" class="btn" id="button_login">Log in</button>
                <div>
                    <p>{{ data }}</p>
                </div>
            </form>
        </div>
        <footer>
            <p><a href="password_reset.html">Forgot password?</a></p>
            <p>Don't have an account? <a href="signup-form.html">Sign Up</a></p>
        </footer>

    </div>
    <script src="../static/js/index.js"></script>
</body>

</html>
